<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ serieDetail.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="movie-details">
    <div class="poster-container">
      <img [src]="serieDetail.img" alt="Serie Poster" class="poster-image">
    </div>
    <div class="details-container">

      <div class="rating-section">
        <h2>Public Rating</h2>
        <div class="rating-container">
          <div class="rating-circle">
            <span class="rating">{{ this.serieDetail.publicRating }}</span>
          </div>
        </div>
      </div>
      
      <div class="rating-section">
        <h2>Critic Rating</h2>
        <div class="ratingCritic-container">
          <div class="rating-circle">
            <span class="rating">{{ this.serieDetail.criticRating }}</span>
          </div>
        </div>
      </div>
      <div class="overview">
        <h3>Overview</h3>
        <p>{{ serieDetail.description }}</p>
      </div>
      <div class="additional-details">

        <ul>

          <li class="genre"><strong>Genre:</strong>{{ this.genres }} </li>
    
 
        </ul>

          <h3>Seasons: {{ this.serieDetail.seasons}}</h3>

        
      </div>
    </div>
  </div>
  
<div class="comments-section">
  <h2 class="comments"> Califica</h2>
  <div class="rating">
    <input type="radio" name="califica" value="10">
    <input type="radio" name="califica" value="9">
    <input type="radio" name="califica" value="8">
    <input type="radio" name="califica" value="7">
    <input type="radio" name="califica" value="6">
    <input type="radio" name="califica" value="5">
    <input type="radio" name="califica" value="4">
    <input type="radio" name="califica" value="3">
    <input type="radio" name="califica" value="2">
    <input type="radio" name="califica" value="1">

  </div>
  <ion-button (click)="createRatingg()" class="calificar-button">Rate</ion-button>
</div>










    <h3 class="comments">Comments</h3>

    <div class="comments-section">  
      <div class="textarea-container">
        <ion-textarea [(ngModel)]="createComment.text" class="boxes" label-placement="floating" fill="outline" type="text" placeholder="Write a comment..."></ion-textarea>
      </div>
      <div class="button-container">
        <ion-button (click)="createCommentt()" class="boton" slot="end">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </div>
    

    </div>
  
  


  <div >
    <app-coment *ngFor="let comment of comments" [comment]="comment" ></app-coment>
  </div >





  <div class="grid-container">
   

    <app-movie (click)="goToMovieDetails(movie.id)"  class="grid-item" *ngFor="let movie of movieAction" [movie]="movie"></app-movie>



</div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</ion-content>
