.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    height: 160px;
    margin-top: 60px;
  }
  
  .signup-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-top: 2rem;
  }
  
  .signup-container p {
    font-size: 12px;
  }
  
  .signup-container a {
    font-weight: bold;
  }
  .icono{
    width: 150px;
    height: 110px;
  }
  h1{
    margin-top: 15%;
    margin-bottom: 10px;
    font-size: 32;
    font-weight: 700;
  }

  h5{
    color: rgb(129, 129, 129);
    font-weight: 600;
    margin-left: 20px;
  }
.boxes{
  border: 2px solid #00000025;
  border-radius: 10px;
  margin: 10px;
  margin-top: 20px;
}

.boton{
  margin: 60px;
}

ion-content{
  --background: url("../../assets/909ad238365dbdd7ee088110a24edb39.jpg") no-repeat center center / cover;
}

