.box{
  height: 250px;
}
h6{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 32;
  font-weight: 700;
  margin-left: 20px;
}
ion-content{
  --background: url("../../assets/oscuro.jpg") no-repeat center center / cover;
}

.imagen{
  width: 600px;
  height: 400px;
  border-radius: 20px;

}

h1{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 32;
  font-weight: 700;
  margin-left: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ion-button{
  background-color: rgb(255, 255, 255);
}

