<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-h6>
      <ion-icon name="film" color="primary" size="large"></ion-icon>
    </ion-h6>
    <ion-buttons slot="end">
  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment  mode="md" #segmentcontrol>


</ion-segment>

<ion-content>
  <div class="noticias">
    <h1>   Noticias</h1>
  
    <swiper-container  :modules="modules" :autoplay="true" :keyboard="true" :pagination="true" :scrollbar="true" :zoom="true" >
      <swiper-slide class="card"  *ngFor="let poster of movieLastest">
          <app-poster  [poster]="poster"></app-poster>
      </swiper-slide>
    </swiper-container>

  </div>

  <div class="box">
    <div class="header">
      <h6>   Top RatedMovies</h6>
      <h6  routerLink="/top-rated"> Ver mas</h6>
    </div>
    <swiper-container   slides-per-view="3" spaceBetween="5" loop="true" >
      <swiper-slide *ngFor="let movie of moviesTopRated">
        <app-movie [movie]="movie"></app-movie>
      </swiper-slide>
    </swiper-container>
  </div>
<div class="box">
  <div class="header">
    <h6>  Action</h6>
    <h6  routerLink="/action"> Ver mas</h6>
  </div>
  <swiper-container   slides-per-view="3" spaceBetween="5" loop="true" >
    <swiper-slide *ngFor="let movie of movieAction">
      <app-movie [movie]="movie"></app-movie>
    </swiper-slide>
  </swiper-container>
</div>

<div class="box">
  <div class="header">
    <h6>   Comedy</h6>
    <h6  routerLink="/comedy"> Ver mas</h6>
  </div>
  <swiper-container   slides-per-view="3" spaceBetween="5" loop="true" >
    <swiper-slide *ngFor="let movie of movieCommedy">
        <app-movie [movie]="movie"></app-movie>
    </swiper-slide>
  </swiper-container>
</div>
<div class="box">
  <div class="header">
    <h6>   Movies</h6>
    <h6  routerLink="/movies"> Ver mas</h6>
  </div>
  <swiper-container   slides-per-view="3" spaceBetween="5" loop="true">
    <swiper-slide *ngFor="let movie of movies">
        <app-movie [movie]="movie"></app-movie>
    </swiper-slide>
  </swiper-container>

</div>

<script>
  import { defineComponent } from 'vue';
  import { Autoplay, Keyboard, Pagination, Scrollbar, Zoom } from 'swiper';
  import { Swiper, SwiperSlide } from 'swiper/vue';
  import { IonContent, IonPage } from '@ionic/vue';
  
  import 'swiper/css';
  import 'swiper/css/autoplay';
  import 'swiper/css/keyboard';
  import 'swiper/css/pagination';
  import 'swiper/css/scrollbar';
  import 'swiper/css/zoom';
  import '@ionic/vue/css/ionic-swiper.css';
  
  export default defineComponent({
    components: { Swiper, SwiperSlide, IonContent, IonPage },
    setup() {
      return {
        modules: [Autoplay, Keyboard, Pagination, Scrollbar, Zoom],
      };
    },
  });
</script>

</ion-content>