<div class="comment">
  <h3>{{ comment.user.username }}</h3>
  <div class="content">{{ comment.text }}</div>
  <ion-icon name="arrow-redo-outline" (click)="toggleReplyInput(comment)"></ion-icon>
  <div class="reply-input" *ngIf="comment.showReplyInput">
    <ion-textarea [(ngModel)]="comment.reply" class="reply-box" label-placement="floating" fill="outline" type="text" placeholder="Write a reply..."></ion-textarea>
    <ion-button (click)="submitReply(comment)" class="reply-button">Reply</ion-button>
  </div>
</div>
