
.card{

    width: 115px;
    background: none;

}

.card:hover{

    width: 115px;
    background: none;
    color: #e78b00;
}
h2{
    color: white;
    font-size: 12px;
}
.poster{
    border-radius: 10px;
     background: none;
}